<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>totalNum</title>
</head>
<body>
    <h1>Total number of tickets: <%= totalNum  %></h1>
</body>
</html>